n8n/01-telegram-bot.json
{
  "name": "Telegram Bot - Command Router",
  "nodes": [
    {
      "parameters": {
        "path": "telegram-bot",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-telegram",
      "name": "Webhook - Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const msg = $input.first().json.message;\nreturn {\n  json: {\n    text: msg.text || '',\n    chatId: msg.chat.id,\n    userId: msg.from.id,\n    messageId: msg.message_id\n  }\n};"
      },
      "id": "extract-msg",
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "key": "text",
              "condition": "contains",
              "value": "/parse"
            },
            {
              "key": "text",
              "condition": "contains",
              "value": "/status"
            },
            {
              "key": "text",
              "condition": "contains",
              "value": "/stats"
            },
            {
              "key": "text",
              "condition": "contains",
              "value": "/help"
            }
          ]
        }
      },
      "id": "switch-cmd",
      "name": "Switch - Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/parser/index.js"
            },
            {
              "name": "args",
              "value": {
                "list": true
              }
            }
          ]
        }
      },
      "id": "exec-parse",
      "name": "Execute - Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/parser/index.js"
            },
            {
              "name": "args",
              "value": {
                "status": true
              }
            }
          ]
        }
      },
      "id": "exec-status",
      "name": "Execute - Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/parser/index.js"
            },
            {
              "name": "args",
              "value": {
                "stats": true
              }
            }
          ]
        }
      },
      "id": "exec-stats",
      "name": "Execute - Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    message: '🤖 *Leadgen Bot*\\n\\n*Команды:*\\n📊 /parse\\n📊 /parse 1\\n🔄 /parse auto\\n📈 /status\\n📋 /stats\\n❓ /help'\n  }\n};"
      },
      "id": "format-help",
      "name": "Format - Help",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 550]
    },
    {
      "parameters": {
        "functionCode": "let result = $input.first().json;\nlet text = '';\nif (typeof result === 'string') {\n  text = result;\n} else if (result.message) {\n  text = result.message;\n} else if (result.error) {\n  text = 'Error: ' + result.error;\n} else {\n  text = JSON.stringify(result, null, 2);\n}\nreturn {\n  json: {\n    text: text,\n    chatId: $node['Extract Message'].json.chatId\n  }\n};"
      },
      "id": "format-response",
      "name": "Format - Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "botToken": "8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A",
        "chatId": "5900706320",
        "text": "{{ $node['Format - Response'].json.text }}",
        "parseMode": "Markdown"
      },
      "id": "send-telegram",
      "name": "Send - Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Telegram": [
      [
        {
          "node": "Extract Message",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Extract Message": [
      [
        {
          "node": "Switch - Command Router",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Switch - Command Router": [
      [
        {
          "node": "Execute - Parse",
          "type": "main",
          "index": 0
        }
      ],
      [
        {
          "node": "Execute - Status",
          "type": "main",
          "index": 0
        }
      ],
      [
        {
          "node": "Execute - Stats",
          "type": "main",
          "index": 0
        }
      ],
      [
        {
          "node": "Format - Help",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Parse": [
      [
        {
          "node": "Format - Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Status": [
      [
        {
          "node": "Format - Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Stats": [
      [
        {
          "node": "Format - Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Format - Help": [
      [
        {
          "node": "Format - Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Format - Response": [
      [
        {
          "node": "Send - Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
