n8n/01-telegram-bot.json
{
  "name": "Telegram Bot - All Commands",
  "nodes": [
    {
      "parameters": {
        "mode": "interval",
        "interval": 2
      },
      "id": "interval-trigger",
      "name": "Interval - 2 sec",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A/getUpdates?offset=-1&timeout=0"
      },
      "id": "get-updates",
      "name": "Get Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const result = $input.first().json;\nif (!result.result || result.result.length === 0) return null;\nconst update = result.result[0];\nconst msg = update.message;\nif (!msg || !msg.text) return null;\nreturn {json: {text: msg.text, chatId: msg.chat.id, messageId: msg.message_id, updateId: update.update_id}};"
      },
      "id": "extract-msg",
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/status"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/niches"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/parse"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/filter"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/run"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/pause"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/resume"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/history"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/logs"
            },
            {
              "key": "json.text",
              "condition": "starts",
              "value": "/calls"
            }
          ]
        }
      },
      "id": "switch-cmd",
      "name": "Switch - Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=status\"}"
      },
      "id": "exec-status",
      "name": "Execute - /status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=niches\"}"
      },
      "id": "exec-niches",
      "name": "Execute - /niches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/parser/index.js\"}"
      },
      "id": "exec-parse",
      "name": "Execute - /parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/filter/index.js\"}"
      },
      "id": "exec-filter",
      "name": "Execute - /filter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/audit/index.js --batch=15\"}"
      },
      "id": "exec-run",
      "name": "Execute - /run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=pause\"}"
      },
      "id": "exec-pause",
      "name": "Execute - /pause",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=resume\"}"
      },
      "id": "exec-resume",
      "name": "Execute - /resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=history\"}"
      },
      "id": "exec-history",
      "name": "Execute - /history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=logs\"}"
      },
      "id": "exec-logs",
      "name": "Execute - /logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/telegram/bot.js --cmd=calls\"}"
      },
      "id": "exec-calls",
      "name": "Execute - /calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 1000]
    },
    {
      "parameters": {
        "functionCode": "let text = '';\nconst input = $input.first().json;\nif (input.message) {\n  text = input.message;\n} else if (input.error) {\n  text = '❌ Error: ' + input.error;\n} else if (input.raw) {\n  text = input.raw;\n} else if (typeof input === 'string') {\n  text = input;\n} else {\n  text = JSON.stringify(input, null, 2);\n}\nreturn {json: {text: text || 'Command executed', chatId: $node['Extract Message'].json.chatId, messageId: $node['Extract Message'].json.messageId}};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A/sendMessage",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"chat_id\":\"{{ $node['Format Response'].json.chatId }}\",\"text\":\"{{ $node['Format Response'].json.text }}\"}"
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Interval - 2 sec": [
      [
        {
          "node": "Get Updates",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Get Updates": [
      [
        {
          "node": "Extract Message",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Extract Message": [
      [
        {
          "node": "Switch - Command",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Switch - Command": [
      [
        {
          "node": "Execute - /status",
          "type": "main",
          "index": 0
        },
        {
          "node": "Execute - /niches",
          "type": "main",
          "index": 1
        },
        {
          "node": "Execute - /parse",
          "type": "main",
          "index": 2
        },
        {
          "node": "Execute - /filter",
          "type": "main",
          "index": 3
        },
        {
          "node": "Execute - /run",
          "type": "main",
          "index": 4
        },
        {
          "node": "Execute - /pause",
          "type": "main",
          "index": 5
        },
        {
          "node": "Execute - /resume",
          "type": "main",
          "index": 6
        },
        {
          "node": "Execute - /history",
          "type": "main",
          "index": 7
        },
        {
          "node": "Execute - /logs",
          "type": "main",
          "index": 8
        },
        {
          "node": "Execute - /calls",
          "type": "main",
          "index": 9
        }
      ]
    ],
    "Execute - /status": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /niches": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /parse": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /filter": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /run": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /pause": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /resume": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /history": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /logs": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - /calls": [
      [
        {
          "node": "Format Response",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Format Response": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
