n8n/02-parser.json
{
  "name": "Parser - Manual Trigger",
  "nodes": [
    {
      "parameters": {"triggerTip": ""},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {"command": "cd /opt/leadgen && node scripts/parser/index.js --list"},
      "id": "exec-parser",
      "name": "Execute - Parser List",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {"functionCode": "let result = {};\ntry {\n  const stdout = $input.first().json.stdout;\n  if (stdout) {\n    result = JSON.parse(stdout);\n  } else {\n    result = { message: 'No output' };\n  }\n} catch (e) {\n  result = { message: $input.first().json.stdout || 'Error' };\n}\nreturn { json: result };"},
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {"authentication": "predefinedCredentialType", "credentialType": "telegramBotApi", "resource": "message", "chatId": "5900706320", "text": "{{ JSON.stringify($node['Parse JSON'].json, null, 2) }}", "parseMode": "Markdown"},
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": [[{"node": "Execute - Parser List", "type": "main", "index": 0}]],
    "Execute - Parser List": [[{"node": "Parse JSON", "type": "main", "index": 0}]],
    "Parse JSON": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
