n8n/02-parser.json
{
  "name": "Parser - Manual Trigger",
  "nodes": [
    {
      "parameters": {
        "triggerTip": ""
      },
      "id": "4e9e3b7c-8f5b-4a1e-8c3b-1a2b3c4d5e6f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "command": "cd /opt/leadgen && node scripts/parser/index.js --list"
      },
      "id": "6a7b8c9d-0e1f-2a3b-4c5d-6e7f8a9b0c1d",
      "name": "Execute - Parser List",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "let result = {};\ntry {\n  const stdout = $input.first().json.stdout;\n  if (stdout) {\n    result = JSON.parse(stdout);\n  } else {\n    result = { message: 'No output' };\n  }\n} catch (e) {\n  result = { message: $input.first().json.stdout || 'Error parsing' };\n}\nreturn { json: result };"
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "credentialType": "telegramBotApi",
        "resource": "message",
        "chatId": "5900706320",
        "text": "{{ JSON.stringify($node[\"Parse JSON\"].json, null, 2) }}",
        "parseMode": "Markdown"
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": [
      [
        {
          "node": "Execute - Parser List",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Parser List": [
      [
        {
          "node": "Parse JSON",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Parse JSON": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
