n8n/04-audit.json
{
  "name": "Audit - Every 30 min",
  "nodes": [
    {
      "parameters": {
        "mode": "interval",
        "interval": 30
      },
      "id": "interval-30",
      "name": "Interval - 30 min",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"command\":\"node scripts/audit/index.js --batch=5\"}"
      },
      "id": "exec-audit",
      "name": "Execute - Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "let text = '';\nconst input = $input.first().json;\nif (input.message) {\n  text = input.message;\n} else if (input.error) {\n  text = '❌ Error: ' + input.error;\n} else if (input.raw) {\n  text = input.raw;\n} else {\n  text = JSON.stringify(input, null, 2);\n}\nreturn {json: {text: text || 'Audit executed'}};"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A/sendMessage",
        "sendBody": true,
        "contentType": "application/json",
        "body": "{\"chat_id\":\"5900706320\",\"text\":\"🔍 Audit (30 min)\\n{{ $node['Parse JSON'].json.text }}\"}"
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Interval - 30 min": [
      [
        {
          "node": "Execute - Audit",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Audit": [
      [
        {
          "node": "Parse JSON",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Parse JSON": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
