n8n/04-audit-email.json
{
  "name": "Audit & Email - Cron 09:00",
  "nodes": [
    {
      "parameters": {
        "mode": "cron",
        "cronExpression": "0 9 * * *",
        "timezone": "Europe/Vilnius"
      },
      "id": "cron-09",
      "name": "Cron - 09:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {"command": "cd /opt/leadgen && node scripts/audit/index.js --batch=15"},
      "id": "exec-audit",
      "name": "Execute - Audit",
      "type": "n8n-nodes-execute-command-plus",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {"functionCode": "let result = {};\ntry {\n  const stdout = $input.first().json.stdout;\n  if (stdout) {\n    result = JSON.parse(stdout);\n  } else {\n    result = { message: 'Audit completed' };\n  }\n} catch (e) {\n  result = { message: $input.first().json.stdout || 'Error' };\n}\nreturn { json: result };"},
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {"authentication": "predefinedCredentialType", "credentialType": "telegramBotApi", "resource": "message", "chatId": "5900706320", "text": "рџ“§ Audit completed (09:00)\\n{{ JSON.stringify($node['Parse JSON'].json, null, 2) }}", "parseMode": "Markdown"},
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Cron - 09:00": [[{"node": "Execute - Audit", "type": "main", "index": 0}]],
    "Execute - Audit": [[{"node": "Parse JSON", "type": "main", "index": 0}]],
    "Parse JSON": [[{"node": "Send Telegram", "type": "main", "index": 0}]]
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}

