n8n/04-audit.json
{
  "name": "Audit - Every 30 min",
  "nodes": [
    {
      "parameters": {
        "mode": "interval",
        "interval": 30
      },
      "id": "interval-30",
      "name": "Interval - 30 min",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/audit/index.js"
            },
            {
              "name": "args",
              "value": {
                "batch": 5
              }
            }
          ]
        }
      },
      "id": "exec-audit",
      "name": "Execute - Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "let result = {};\ntry {\n  const response = $input.first().json;\n  if (response && typeof response === 'object') {\n    result = response;\n  } else {\n    result = { message: 'Audit completed' };\n  }\n} catch (e) {\n  result = { message: 'Audit completed', raw: $input.first().json };\n}\nreturn { json: result };"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "botToken": "8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A",
        "chatId": "5900706320",
        "text": "🔍 Audit executed (every 30 min)\\n{{ JSON.stringify($node['Parse JSON'].json, null, 2) }}",
        "parseMode": "Markdown"
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Interval - 30 min": [
      [
        {
          "node": "Execute - Audit",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Audit": [
      [
        {
          "node": "Parse JSON",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Parse JSON": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
