n8n/05-followup.json
{
  "name": "Followup Email - Cron 10:00",
  "nodes": [
    {
      "parameters": {
        "mode": "cron",
        "cronExpression": "0 10 * * *",
        "timezone": "Europe/Vilnius"
      },
      "id": "cron-10",
      "name": "Cron - 10:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/email/followup.js"
            }
          ]
        }
      },
      "id": "exec-followup",
      "name": "Execute - Followup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "let result = {};\ntry {\n  const response = $input.first().json;\n  if (response && typeof response === 'object') {\n    result = response;\n  } else {\n    result = { message: 'Followup completed' };\n  }\n} catch (e) {\n  result = { message: 'Followup completed', raw: $input.first().json };\n}\nreturn { json: result };"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "botToken": "8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A",
        "chatId": "5900706320",
        "text": "📧 Followup emails sent (10:00)\\n{{ JSON.stringify($node['Parse JSON'].json, null, 2) }}",
        "parseMode": "Markdown"
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Cron - 10:00": [
      [
        {
          "node": "Execute - Followup",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - Followup": [
      [
        {
          "node": "Parse JSON",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Parse JSON": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
