n8n/06-imap-listener.json
{
  "name": "IMAP Listener - Cron Every 30 Min",
  "nodes": [
    {
      "parameters": {"mode": "every", "interval": [30], "timezone": "Europe/Vilnius"},
      "id": "cron-30",
      "name": "Cron - Every 30 Min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {"command": "cd /opt/leadgen && node scripts/email/imap.js"},
      "id": "exec-imap",
      "name": "Execute - IMAP",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {"functionCode": "let result = {};\nconst stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\ntry {\n  if (stdout) {\n    result = JSON.parse(stdout);\n  } else if (stderr && stderr.includes('error')) {\n    result = { error: stderr, hasError: true };\n  } else {\n    result = { message: 'IMAP check completed', hasError: false };\n  }\n} catch (e) {\n  result = { message: stdout || 'IMAP completed', hasError: stderr ? true : false };\n}\nreturn { json: result };"},
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {"conditions": {"conditions": [{"key": "hasError", "condition": "equals", "value": true}]}},
      "id": "if-error",
      "name": "If Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {"authentication": "predefinedCredentialType", "credentialType": "telegramBotApi", "resource": "message", "chatId": "5900706320", "text": "⚠️ IMAP Error\\n{{ JSON.stringify($node['Parse JSON'].json.error) }}", "parseMode": "Markdown"},
      "id": "send-error",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Cron - Every 30 Min": [[{"node": "Execute - IMAP", "type": "main", "index": 0}]],
    "Execute - IMAP": [[{"node": "Parse JSON", "type": "main", "index": 0}]],
    "Parse JSON": [[{"node": "If Error", "type": "main", "index": 0}]],
    "If Error": [[{"node": "Send Error Alert", "type": "main", "index": 0}]]
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
