n8n/06-imap.json
{
  "name": "IMAP Listener - Every 5 min",
  "nodes": [
    {
      "parameters": {
        "mode": "interval",
        "interval": 5
      },
      "id": "interval-5",
      "name": "Interval - 5 min",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "node scripts/email/imap.js"
            }
          ]
        }
      },
      "id": "exec-imap",
      "name": "Execute - IMAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "let result = {};\ntry {\n  const response = $input.first().json;\n  if (response && typeof response === 'object') {\n    result = response;\n  } else {\n    result = { message: 'IMAP check completed' };\n  }\n} catch (e) {\n  result = { message: 'IMAP check completed', raw: $input.first().json };\n}\nreturn { json: result };"
      },
      "id": "parse-json",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "key": "json.message",
              "condition": "notEqual",
              "value": "IMAP check completed"
            }
          ]
        }
      },
      "id": "if-has-emails",
      "name": "If - Has Emails",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "botToken": "8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A",
        "chatId": "5900706320",
        "text": "📬 New emails received\\n{{ JSON.stringify($node['Parse JSON'].json, null, 2) }}",
        "parseMode": "Markdown"
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Interval - 5 min": [
      [
        {
          "node": "Execute - IMAP",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Execute - IMAP": [
      [
        {
          "node": "Parse JSON",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "Parse JSON": [
      [
        {
          "node": "If - Has Emails",
          "type": "main",
          "index": 0
        }
      ]
    ],
    "If - Has Emails": [
      [
        {
          "node": "Send Telegram",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "settings": {
    "executionOrder": "v1"
  }
}
