n8n/Telegram Bot - Command Router.json
{
  "name": "Telegram Bot - Command Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "telegram-webhook",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -680,
        300
      ],
      "webhookId": "telegram-bot"
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst message = body.message || body.edited_message || null;\nconst text = typeof message?.text === 'string' ? message.text.trim() : '';\nconst chatId = message?.chat?.id || null;\n\nif (!text || !chatId) return [];\n\nreturn [{\n  json: {\n    updateId: body.update_id,\n    messageId: message.message_id,\n    chatId,\n    text\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const text = String($json.text || '').trim();\nconst parts = text.split(/\\s+/).filter(Boolean);\nconst name = (parts[0] || '').toLowerCase().replace(/@[\\w_]+$/, '');\nconst arg = (parts[1] || '').toLowerCase();\n\nconst missingFilter = `test -f scripts/filter/index.js && node scripts/filter/index.js || printf '%s\\n' '{\"message\":\"Filter is not implemented yet: scripts/filter/index.js\"}'`;\nconst missingAudit = `test -f scripts/audit/index.js && node scripts/audit/index.js --batch=15 || printf '%s\\n' '{\"message\":\"Audit is not implemented yet: scripts/audit/index.js\"}'`;\n\nlet command;\nif (name === '/parse') {\n  if (arg === 'auto') command = 'node scripts/parser/index.js --auto';\n  else if (/^\\d+$/.test(arg)) command = `node scripts/parser/index.js --niche=${arg}`;\n  else command = 'node scripts/parser/index.js --list';\n} else if (name === '/status') command = 'node scripts/telegram/command.js status';\nelse if (name === '/niches') command = 'node scripts/telegram/command.js niches';\nelse if (name === '/pause') command = 'node scripts/telegram/command.js pause';\nelse if (name === '/resume') command = 'node scripts/telegram/command.js resume';\nelse if (name === '/history') command = 'node scripts/telegram/command.js history';\nelse if (name === '/logs') command = 'node scripts/telegram/command.js logs';\nelse if (name === '/calls') command = 'node scripts/telegram/command.js calls';\nelse if (name === '/filter') command = missingFilter;\nelse if (name === '/run') command = missingAudit;\nelse command = 'node scripts/telegram/command.js help';\n\nreturn [{ json: { command, chatId: $json.chatId, sourceText: text } }];"
      },
      "id": "route-command",
      "name": "Route Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://178.104.253.76:3333/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ command: $json.command }) }}",
        "options": {}
      },
      "id": "execute-command",
      "name": "Execute Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -20,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nlet text = '';\n\nif (typeof input.message === 'string') text = input.message;\nelse if (typeof input.error === 'string') text = `Error: ${input.error}`;\nelse if (typeof input.raw === 'string' && input.raw.trim()) text = input.raw;\nelse text = JSON.stringify(input, null, 2);\n\nif (!text || !text.trim()) text = 'Done';\nif (text.length > 3900) text = text.slice(0, 3900) + '\\n...trimmed';\n\nreturn [{ json: { chatId: $node['Route Command'].json.chatId, text } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8695961256:AAFoN0toAyHFKVWo611iVDAa8IkOrfwga3A/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text }) }}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
